USE [master]
GO
/****** Object:  Database [DemoConvencionesDB]    Script Date: 17/03/2022 12:26:53 p. m. ******/
CREATE DATABASE [DemoConvencionesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoConvencionesDB', FILENAME = N'/var/opt/mssql/data/DemoConvencionesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoConvencionesDB_log', FILENAME = N'/var/opt/mssql/data/DemoConvencionesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoConvencionesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoConvencionesDB]
GO
/****** Object:  Table [dbo].[entradas]    Script Date: 17/03/2022 12:26:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entradas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nArticulo] [int] NOT NULL,
	[tipo] [varchar](30) NOT NULL,
	[convencion] [varchar](50) NOT NULL,
	[archivo] [varchar](100) NOT NULL,
	[thumbnail] [varchar](100) NOT NULL,
	[cita] [varchar](3000) NOT NULL,
	[titulo] [varchar](1000) NOT NULL,
	[subtitulo] [varchar](3000) NOT NULL,
	[subsubtitulo] [varchar](3000) NOT NULL,
	[texto] [varchar](7000) NOT NULL,
	[organismos] [varchar](7000) NOT NULL,
	[tipoDisposicion] [varchar](7000) NOT NULL,
	[etiquetas] [varchar](7000) NOT NULL,
	[temas] [varchar](7000) NOT NULL,
	[url] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etiquetas]    Script Date: 17/03/2022 12:26:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etiquetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[etiqueta] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuentes]    Script Date: 17/03/2022 12:26:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuentes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fuente] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titulos]    Script Date: 17/03/2022 12:26:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titulos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[entradas] ON 

SET IDENTITY_INSERT [dbo].[entradas] OFF
GO
SET IDENTITY_INSERT [dbo].[etiquetas] ON 

INSERT [dbo].[etiquetas] ([id], [etiqueta]) VALUES (2093, N'Aborto')
INSERT [dbo].[etiquetas] ([id], [etiqueta]) VALUES (2094, N'Accesibilidad')
INSERT [dbo].[etiquetas] ([id], [etiqueta]) VALUES (2095, N'AccesoALaEducacion')
GO
SET IDENTITY_INSERT [dbo].[etiquetas] OFF
GO
SET IDENTITY_INSERT [dbo].[fuentes] ON 

INSERT [dbo].[fuentes] ([id], [fuente]) VALUES (1, N'sus causas y consecuencias | resolución A/69/368 | resolución A/66/215 | Corte idh')
INSERT [dbo].[fuentes] ([id], [fuente]) VALUES (2, N'Recomendación General 5 | Comité cedaw')
INSERT [dbo].[fuentes] ([id], [fuente]) VALUES (3, N'Caso González y otras (“Campo Algodonero”) vs. México | Comité cedaw')
GO
SET IDENTITY_INSERT [dbo].[fuentes] OFF
GO
SET IDENTITY_INSERT [dbo].[titulos] ON 

INSERT [dbo].[titulos] ([id], [titulo]) VALUES (1, N'La obligación de tomar en consideración los problemas especiales que enfrenta la mujer en el ámbito rural')
INSERT [dbo].[titulos] ([id], [titulo]) VALUES (2, N'Salud')
INSERT [dbo].[titulos] ([id], [titulo]) VALUES (3, N'Niñas y adolescentes')
GO
SET IDENTITY_INSERT [dbo].[titulos] OFF
GO
USE [master]
GO
